# Datos originales y procesados
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Entornos y cachés
.venv/
venv/
__pycache__/
.ipynb_checkpoints/
*.pyc

# Sistema / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
